<h1> <%= current_user.first_name %>'s Dashboard </h1>

<img src="<%= current_user.photo %>" class="img-responsive" width="200" >

<h2>  Goals </h2>

<table class="table table-hover table_condensed">
  <thead>
    <tr>
      <th>Goal</th>
      <th>Last Updated</th>

      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.goal %></td>
        <td><%= time_ago_in_words(goal.updated_at) %> ago</td>

        <td>
          <a href="/goals/<%= goal.id %>/edit_form" class="btn btn-link">Edit

          </a>
        </td>
        <td>
          <a href="/delete_goal/<%= goal.id %>" class="btn btn-link delete-link">Delete

          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



<h2> MOVE Log </h2>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Exercise Type</th>
      <th>Duration (minutes)</th>
      <th>Date</th>
<th>Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.exercise.exercise_name  %></td>
        <td><%= entry.minutes %></td>
        <td><%= entry.did_on %></td>
        <td><%= entry.notes %></td>


      </tr>
    <% end %>
  </tbody>
</table>

